body {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: rgba(226, 216, 216, 0.5); */
  background-image: url("../public/photo/p18.jpg");
  background-repeat: repeat;
  background-size: auto;
  position: relative;
}
/* navbar */
/* navbar */
/* navbar */
/* .choco {
  height: 100px;
  background-image: url("../public/photo/p18.jpg");
  background-size: initial;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
} */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
}

.navleft {
  display: flex;
  flex-wrap: wrap;
}
.navright > a {
  /* background-color: rgb(255, 0, 0); */
  text-shadow: 0 0 10px #02e0fd;
  border-left: 2px solid #02e0fd;
  border-bottom: 2px solid #02e0fd;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: rgb(222, 228, 228);
}

/* menubar */
/* menubar */
/* menubar */
.menubar {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  margin: 2% 10% 2% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.menubar > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menubar div > div {
  color: aliceblue;
  text-decoration: none;
  text-shadow: 1px 1px 20px greenyellow;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  cursor: pointer;
}
.micon {
  width: 70px;
  height: 60px;
}

/* menu body */
/* menu body */
/* menu body */
.menubody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.menucard {
  border-radius: 15px;
  padding: 3px 0;
  margin: 5px 2px;
  width: 175px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(255, 255, 255);
  position: relative;
}
.groupedcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.name {
  font-size: large;
  font-weight: bold;
}
.meimg {
  width: 170px;
  height: 170px;
  /* top: 5px;
  right: 5px;
  float: right; */
}
.price {
  font-weight: bold;
  margin-top: 10px;
}
.button {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: #24b61f;
  color: white;
  font-size: large;
  border-radius: 7px;
  margin: 0 3px 5px 3px;
  cursor: pointer;
  align-self: center;
  padding: 5px;
}
.delete {
  background-color: red;
}
.add {
  background-color: rgb(255, 166, 0);
  margin: 10px 10px;
  padding: 10px;
}
.pizza {
  background-color: rgb(218, 62, 62);
  box-shadow: 0 0 25px rgb(218, 62, 62);
}
.burger {
  background-color: greenyellow;
  box-shadow: 0 0 25px greenyellow;
}

.sauce {
  background-color: tomato;
  box-shadow: 0 0 25px tomato;
}
.dessert {
  background-color: #ffd9ba;
  box-shadow: 0 0 25px #ffd9ba;
}
.drink {
  background-color: orange;
  box-shadow: 0 0 25px orange;
}

/* contact */
/* contact */
/* contact */

.contact {
  background-color: black;
  opacity: 0.9;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

/* form */
/* form */
/* form */
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
  font-size: 14px;
  color: #757575;
}
.inputbtn {
  width: 100%;
  font-size: x-large;
  padding: 5px;
  background-color: #fec107;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
